
<h1> Add Entry </h1>

<form id="add_entry">
    
    title <input type="text" name="title"> <br>
    text <input type="text" name="text"> <br>
    
    <input type="submit">

</form>

<script>

    $('form#add_entry').submit(function(event){
        event.preventDefault();        
        postEntry(this);        
        return true;
    });

</script>
