<form action="#/{{ entry.id }}/edit" method="put" class=add-entry>
  <dl>
    <dt>Title:
      <dd><input type="text" size=30 name="title" value="{{ entry.title }}">
    <dt>Text:
      <dd><textarea name="text">{{ entry.text }}</textarea>
      <dd><input type="submit" value="Edit">
  </dl>
</form>